// about
.about-banner{
    height: 80vh;
    background: url("../images/happy.png") no-repeat top / cover;
}
.about-title-text::before{
    content:"|";
    margin-right: 16px;
}
.about-title-net{
    background-image: url("../images/net.png");
    background-position: right 85%;
    background-repeat: no-repeat;
    background-size: 75%;
}
.about-title-color{
    background: linear-gradient(290deg, transparent 71%, #1A30B1 0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// belief
.belief-title-text::before{
    content:"|";
    margin-right: 16px;
}
.belief-title-net{
background-image: url("../images/net.png");
background-position: right 85%;
background-repeat: no-repeat;
background-size: 75%;
}
.belief-title-color{
background: linear-gradient(290deg, transparent 71%, #1A30B1 0);
background-size: 100% 100%;
background-repeat: no-repeat;
}