@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "mixin";
@import "./layout/layout";
@import "./pages/index";
@import "./pages/about";
@import "./pages/winner";
@import "./pages/coach";
@import "./pages/preschool";
@import "./pages/child";
